USE [FitnessTest]
GO
/****** Object:  Table [dbo].[Adressen]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adressen](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StraatNaam] [varchar](255) NOT NULL,
	[HuisNummer] [varchar](255) NOT NULL,
	[Plaats] [varchar](255) NOT NULL,
	[PostCode] [int] NOT NULL,
	[Klant_KlantenNummer] [int] NOT NULL,
 CONSTRAINT [Adressen_PK] PRIMARY KEY CLUSTERED 
(
	[Klant_KlantenNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SlotTijdUur] [bigint] NOT NULL,
	[StandaardInherstelling] [bit] NULL,
	[LowerBoundUurReservatie] [int] NULL,
	[UpperBoundUurReservatie] [int] NULL,
	[AantalDagenInToekomstReserveren] [int] NULL,
 CONSTRAINT [Config_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interesses]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interesses](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Klant_KlantenNummer] [int] NOT NULL,
	[InteresseNaam] [varchar](255) NOT NULL,
 CONSTRAINT [Interesses_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klanten](
	[KlantenNummer] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Voornaam] [varchar](255) NOT NULL,
	[Achternaam] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[GeboorteDatum] [datetime] NOT NULL,
	[InsertedTimestamp] [datetime] NULL,
	[ABONNEMENT] [varchar](255) NOT NULL,
 CONSTRAINT [Klant_PK] PRIMARY KEY CLUSTERED 
(
	[KlantenNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaties]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaties](
	[Klant_KlantenNummer] [int] NOT NULL,
	[ReservatieNummer] [int] IDENTITY(1,1) NOT NULL,
	[Toestel_IdentificatieCode] [int] NOT NULL,
	[InsertedTimestamp] [datetime] NULL,
 CONSTRAINT [Reservatie_PK] PRIMARY KEY CLUSTERED 
(
	[ReservatieNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TijdSloten]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TijdSloten](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[StartTijd] [datetime] NOT NULL,
	[EindTijd] [datetime] NOT NULL,
	[Reservatie_ReservatieNummer] [int] NOT NULL,
 CONSTRAINT [TijdsSlot_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toestellen]    Script Date: 27/05/2022 14:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toestellen](
	[IdentificatieCode] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ToestelType] [varchar](255) NOT NULL,
	[InHerstelling] [bit] NULL,
	[InsertedTimestamp] [datetime] NULL,
	[Verwijderd] [bit] NULL,
 CONSTRAINT [Toestel_PK] PRIMARY KEY CLUSTERED 
(
	[IdentificatieCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adressen] ON 

INSERT [dbo].[Adressen] ([Id], [StraatNaam], [HuisNummer], [Plaats], [PostCode], [Klant_KlantenNummer]) VALUES (2, N'StanStraat', N'101', N'Eeklo', 9999, 1)
INSERT [dbo].[Adressen] ([Id], [StraatNaam], [HuisNummer], [Plaats], [PostCode], [Klant_KlantenNummer]) VALUES (3, N'StanStraat', N'101', N'Melle', 9999, 2)
INSERT [dbo].[Adressen] ([Id], [StraatNaam], [HuisNummer], [Plaats], [PostCode], [Klant_KlantenNummer]) VALUES (4, N'StanStraat', N'101', N'Zele', 9999, 3)
GO
SET IDENTITY_INSERT [dbo].[Adressen] OFF
GO
SET IDENTITY_INSERT [dbo].[Config] ON 

INSERT [dbo].[Config] ([Id], [SlotTijdUur], [StandaardInherstelling], [LowerBoundUurReservatie], [UpperBoundUurReservatie], [AantalDagenInToekomstReserveren]) VALUES (1, 1, 0, 8, 21, 7)
SET IDENTITY_INSERT [dbo].[Config] OFF
GO
SET IDENTITY_INSERT [dbo].[Interesses] ON 

INSERT [dbo].[Interesses] ([Id], [Klant_KlantenNummer], [InteresseNaam]) VALUES (1, 1, N'running')
INSERT [dbo].[Interesses] ([Id], [Klant_KlantenNummer], [InteresseNaam]) VALUES (2, 2, N'cycling')
INSERT [dbo].[Interesses] ([Id], [Klant_KlantenNummer], [InteresseNaam]) VALUES (3, 3, N'Geen')
GO
SET IDENTITY_INSERT [dbo].[Interesses] OFF
GO
SET IDENTITY_INSERT [dbo].[Klanten] ON 

INSERT [dbo].[Klanten] ([KlantenNummer], [Voornaam], [Achternaam], [Email], [GeboorteDatum], [InsertedTimestamp], [ABONNEMENT]) VALUES (1, N'Stan', N'Persoons', N'stan.persoons@student.hogent.be', CAST(N'1970-09-04T00:00:00.000' AS DateTime), CAST(N'2022-05-04T23:07:39.843' AS DateTime), N'3')
INSERT [dbo].[Klanten] ([KlantenNummer], [Voornaam], [Achternaam], [Email], [GeboorteDatum], [InsertedTimestamp], [ABONNEMENT]) VALUES (2, N'Jesse', N'Parkinson', N'Jesse.Parkinson@telenet.com', CAST(N'1984-07-25T00:00:00.000' AS DateTime), CAST(N'2022-05-04T23:07:39.860' AS DateTime), N'1')
INSERT [dbo].[Klanten] ([KlantenNummer], [Voornaam], [Achternaam], [Email], [GeboorteDatum], [InsertedTimestamp], [ABONNEMENT]) VALUES (3, N'Brian', N'Thorn', N'Brian.Thorn@hotmail.com', CAST(N'1962-01-02T00:00:00.000' AS DateTime), CAST(N'2022-05-04T23:07:39.867' AS DateTime), N'2')
GO
SET IDENTITY_INSERT [dbo].[Klanten] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservaties] ON 

INSERT [dbo].[Reservaties] ([Klant_KlantenNummer], [ReservatieNummer], [Toestel_IdentificatieCode], [InsertedTimestamp]) VALUES (1, 6167, 6212, CAST(N'2022-05-26T22:50:47.410' AS DateTime))
INSERT [dbo].[Reservaties] ([Klant_KlantenNummer], [ReservatieNummer], [Toestel_IdentificatieCode], [InsertedTimestamp]) VALUES (1, 6168, 6213, CAST(N'2022-05-26T22:50:47.433' AS DateTime))
INSERT [dbo].[Reservaties] ([Klant_KlantenNummer], [ReservatieNummer], [Toestel_IdentificatieCode], [InsertedTimestamp]) VALUES (1, 7167, 7212, CAST(N'2022-05-27T12:23:06.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservaties] OFF
GO
SET IDENTITY_INSERT [dbo].[TijdSloten] ON 

INSERT [dbo].[TijdSloten] ([Id], [StartTijd], [EindTijd], [Reservatie_ReservatieNummer]) VALUES (6167, CAST(N'2023-05-25T15:00:00.000' AS DateTime), CAST(N'2023-05-25T16:00:00.000' AS DateTime), 6167)
INSERT [dbo].[TijdSloten] ([Id], [StartTijd], [EindTijd], [Reservatie_ReservatieNummer]) VALUES (6168, CAST(N'2023-05-26T14:00:00.000' AS DateTime), CAST(N'2023-05-26T15:00:00.000' AS DateTime), 6168)
INSERT [dbo].[TijdSloten] ([Id], [StartTijd], [EindTijd], [Reservatie_ReservatieNummer]) VALUES (7167, CAST(N'2023-05-25T15:00:00.000' AS DateTime), CAST(N'2023-05-25T16:00:00.000' AS DateTime), 7167)
SET IDENTITY_INSERT [dbo].[TijdSloten] OFF
GO
SET IDENTITY_INSERT [dbo].[Toestellen] ON 

INSERT [dbo].[Toestellen] ([IdentificatieCode], [ToestelType], [InHerstelling], [InsertedTimestamp], [Verwijderd]) VALUES (7, N'Fiets', 1, CAST(N'2022-05-04T23:19:12.127' AS DateTime), 1)
INSERT [dbo].[Toestellen] ([IdentificatieCode], [ToestelType], [InHerstelling], [InsertedTimestamp], [Verwijderd]) VALUES (14, N'Roeitrainer', 0, CAST(N'2022-05-05T23:31:40.157' AS DateTime), 1)
INSERT [dbo].[Toestellen] ([IdentificatieCode], [ToestelType], [InHerstelling], [InsertedTimestamp], [Verwijderd]) VALUES (4013, N'Loopband', 0, CAST(N'2022-05-18T11:06:06.670' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Toestellen] OFF
GO
/****** Object:  Index [Adres_PK]    Script Date: 27/05/2022 14:41:47 ******/
ALTER TABLE [dbo].[Adressen] ADD  CONSTRAINT [Adres_PK] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Klanten] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
ALTER TABLE [dbo].[Reservaties] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
ALTER TABLE [dbo].[Toestellen] ADD  DEFAULT (getdate()) FOR [InsertedTimestamp]
GO
ALTER TABLE [dbo].[Toestellen] ADD  DEFAULT ((0)) FOR [Verwijderd]
GO
ALTER TABLE [dbo].[Adressen]  WITH CHECK ADD  CONSTRAINT [Adres_Klant_FK] FOREIGN KEY([Klant_KlantenNummer])
REFERENCES [dbo].[Klanten] ([KlantenNummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adressen] CHECK CONSTRAINT [Adres_Klant_FK]
GO
ALTER TABLE [dbo].[Interesses]  WITH CHECK ADD  CONSTRAINT [Interesses_Klant_FK] FOREIGN KEY([Klant_KlantenNummer])
REFERENCES [dbo].[Klanten] ([KlantenNummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interesses] CHECK CONSTRAINT [Interesses_Klant_FK]
GO
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD  CONSTRAINT [Reservatie_Klant_FK] FOREIGN KEY([Klant_KlantenNummer])
REFERENCES [dbo].[Klanten] ([KlantenNummer])
GO
ALTER TABLE [dbo].[Reservaties] CHECK CONSTRAINT [Reservatie_Klant_FK]
GO
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD  CONSTRAINT [Reservatie_Toestel_FK] FOREIGN KEY([Toestel_IdentificatieCode])
REFERENCES [dbo].[Toestellen] ([IdentificatieCode])
GO
ALTER TABLE [dbo].[Reservaties] CHECK CONSTRAINT [Reservatie_Toestel_FK]
GO
ALTER TABLE [dbo].[TijdSloten]  WITH CHECK ADD  CONSTRAINT [TijdsSlot_Reservatie_FK] FOREIGN KEY([Reservatie_ReservatieNummer])
REFERENCES [dbo].[Reservaties] ([ReservatieNummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TijdSloten] CHECK CONSTRAINT [TijdsSlot_Reservatie_FK]
GO
